*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 97vw;
    height: auto;
    margin: auto;
    background-image: url("/Images/fundo.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    margin-bottom: 1em;
}
main{
    width: 80vw;
    margin: auto;
}
#banner{
    color: #ffffff;
    width: 25vw;
    margin-top: 1.5em;
    margin-left: 5em;
    height: 64vh;
    display: flex;
    align-items: center;
}
h1 {
    line-height: 2em;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    font-size: 32px;
    

}
h1:after{
   content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.8s infinite;
}

@keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
}

.separator img{
    display: flex;
    width: 50vw;
    height: 3px;
    margin: auto;
    margin-top: 3em;
}
p{
    color: #ffffff;
    text-align: center;
    line-height: 2em;
}
h2{
    color: #FFFFFF;
    size: 48px;
    text-align: center;
    margin: 2em;
}
#aboutMe img{    
    display: flex;
    margin: auto;
    margin-bottom: 3em;
}
.images{
    width: 50vw;
    height: 50vh;
    overflow: hidden;  
    margin:auto;
    margin-bottom: 3em;
    border-radius: 20px;
}
.images .galery{
    width: 500%;
    animation-name: anima;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    display: flex;
    text-align: center;
}
.galery img{
    width: 50vw;
    height: auto;
}
footer p{
    display: block;
    font-size: small;
    font-style: italic;
    text-align: right;
    margin: 3em 10em 1em 0px;   
    right: 0;
    color: #ffffff;
}
footer a{
    color: #ffffff;
}
footer a:hover{
    font-size: medium;
    color: #ffc400;
}
span#socialMedia{
    display: grid;
    position: fixed;
    right: 1em;
    top: 20vh;
}
span#socialMedia img{
    margin-bottom: 3em;
}
span#socialMedia img:hover{
    transition: 0.3s;
    width: 3em;
    height: auto;
}
a.start{    
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    position: fixed;
    cursor: pointer;
    top: 90vh;
    right: 1.5em;
    border: none;
    display: block;
    white-space: nowrap;
    font-size: small;
    letter-spacing: 0;
    transform: translate(0,-47px) rotate(-90deg);
}
a.start:hover{
    font-size: medium;
    color: #ffc400;
}
h3{
    color: #ffffff;
}
div.services1{
    width: 50%;
    height: 50vh;
    display: inline-block;
}
div.services2{
    width: 50%;
    height: 50vh;
    display: inline-block;
}
div.services3{
    width: 50%;
    height: 50vh;
    display: inline-block;
}
div.services4{
    width: 50%;
    height: 50vh;
    display: inline-block;
}
#business{
    float: left;
}
#business img{
    margin-right: 2em;
    vertical-align: middle;
    border-radius: 10px;
}
#businessP{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
#payment{
    float: right;
}
#payment img{
    margin-left: 2em;
    vertical-align: middle;
    border-radius: 10px;
}
#paymentP{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
#accessory{
    float: left;
}
#accessory img{
    margin-right: 2em;
    vertical-align: middle;
    border-radius: 10px;
}
#accessoryP{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
#fiscal{
    float: right;
}
#fiscal img{
    margin-right: 2em;
    vertical-align: middle;
    border-radius: 10px;
}
#fiscalP{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

@keyframes anima {
    0%{margin-left: 0;}
    5%{margin-left: 0;}
    10%{margin-left: -100%;}
    30%{margin-left: -100%;}
    35%{margin-left: -200%;}
    55%{margin-left: -200%;}
    60%{margin-left: -300%;}
    80%{margin-left: -300%;}
    85%{margin-left: -400%;}
    95%{margin-left: -400%;}
    100%{margin-right: -500%;}
}

@media (max-width: 750px) {
    .images{
        border-radius: 0;
    }
    a.start{ 
        display: none;
    }
    span#socialMedia{
        display: grid;
        position: fixed;
        right: 1em;
        top: 30vh;
    }
}

@media (max-width: 550px) {
    .images{
        height: 30vh;
    }
    h1{
        font-size: larger;
    }
    h2{
        font-size: large;
    }
    p{
        font-size: small;
    }
    #email{
        font-size: small;
    }
}