*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 97vw;
    height: auto;
    margin: auto;
    background-image: url("/Images/cont6.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 80vw;
    margin: auto;
}
#banner h1{
    color: #ffffff;
    margin-top: 1em;
    width: 25vw;
    height: auto;
    display: flex;
    left: 0;
    line-height: 2em;
}
.separator img{
    display: flex;
    width: 50vw;
    height: 3px;
    margin: auto;
    margin-top: 3em;
}
p{
    color: #ffffff;
    text-align: center;
}
h2{
    color: #FFFFFF;
    size: 48px;
    text-align: center;
    margin: 2em;
}
#aboutMe img{    
    display: flex;
    margin: auto;
    margin-bottom: 3em;
}
.images{
    width: 50vw;
    height: 50vh;
    overflow: hidden;  
    margin:auto;
    margin-bottom: 3em;
    border-radius: 20px;
}
.images .galery{
    width: 500%;
    animation-name: anima;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    display: flex;
    text-align: center;
}
.galery img{
    width: 50vw;
    height: auto;
}
footer p{
    display: block;
    font-size: small;
    font-style: italic;
    text-align: right;
    margin: 3em 10em 1em 0px;   
    right: 0;
    color: #ffffff;
}
footer a{
    color: #ffffff;
}
footer a:hover{
    font-size: medium;
    color: #ffc400;
}
span#socialMedia{
    display: grid;
    position: fixed;
    right: 1em;
    top: 20vh;
}
span#socialMedia img{
    margin-bottom: 3em;
}
span#socialMedia img:hover{
    transition: 0.3s;
    width: 3em;
    height: auto;
}
a.start{    
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    position: fixed;
    cursor: pointer;
    top: 90vh;
    right: 1.5em;
    border: none;
    display: block;
    white-space: nowrap;
    font-size: small;
    letter-spacing: 0;
    transform: translate(0,-47px) rotate(-90deg);
}
a.start:hover{
    font-size: medium;
    color: #ffc400;
}

@keyframes anima {
    0%{margin-left: 0;}
    5%{margin-left: 0;}
    10%{margin-left: -100%;}
    30%{margin-left: -100%;}
    35%{margin-left: -200%;}
    55%{margin-left: -200%;}
    60%{margin-left: -300%;}
    80%{margin-left: -300%;}
    85%{margin-left: -400%;}
    95%{margin-left: -400%;}
    100%{margin-right: -500%;}
}

@media (max-width: 750px) {
    .images{
        border-radius: 0;
    }
    a.start{ 
        display: none;
    }
    span#socialMedia{
        display: grid;
        position: fixed;
        right: 1em;
        top: 30vh;
    }
}

@media (max-width: 550px) {
    .images{
        height: 30vh;
    }
    h1{
        font-size: larger;
    }
    h2{
        font-size: large;
    }
    p{
        font-size: small;
    }
    #email{
        font-size: small;
    }
}