*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#thanks h1{
    color: #ffffff;
    margin-top: 1em;
    width: 25vw;
    height: auto;
    display: flex;
    line-height: 1.7em;
    font-size: 2em;
    margin: auto;
    text-align: center;
}
#thanks h2{
    color: #ffffff;
    margin-top: 1em;
    width: 25vw;
    height: auto;
    display: flex;
    font-size: 1em;
    margin: auto;
    line-height: 3em;
    justify-content: center;

}
#contacts div{
    width: 50%;
    display: inline-block;
}
#form{
    line-height: 1em;
}
#form2{
    float: left;
}
#form2 img{
    width: 1.5em;
    height: auto;
    margin-right: 0.5em;
}
#mail img{
    width: 2em;
    height: 1.5em;
    margin-right: 1em;
}
#cel img{
    width: 1.3em;
    height: 2em;
    margin-right: 1em;
}
#form2 a{
    display: flex;
    margin: auto;
    margin-bottom: 3em;
    align-items: center;
}
#form2 a:hover{
    color: #ffc400;
}
#form input{ 
    width: 70%;
    height: 1em;
    padding: 0.7em;
    font-size: 0.8em;
    margin-bottom: 2em;
    color: #252729;
    border-radius: 0.25rem;
    background-color: #ffffff1f;
    color: #ffffff;
    margin-left: 5em;
}
#form input:hover{ 
    border: 3px solid #ffc400;
    transition: 0.3s;
}
#form textarea{
    border-radius: 0.25rem;
    width: 73%;
    height: 10em;
    margin-bottom: 2em;
    background-color: #ffffff1f;
    color: #ffffff;
    margin-left: 5em;
}
#form textarea:hover{
    border: 3px solid #ffc400;
    transition: 0.3s;
}
button{
    border-radius: 0.25rem;
    height: 3em;
    width: 10em;
    display: flex;
    margin-left: 12.5em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: #ffffff;
}
button:hover{
    background-color: #ffc400;
    color: #ffffff;
    transition: 0.3s;
    border: none;

}

@media (max-width: 750px) {
    #contacts div{
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
    }
    #form input{ 
        margin: 0 0 1em 0;
        width: 50vw;
    }
    #form textarea{
        margin: auto;
        margin: 0 0 1em 0;
        width: 53vw;
    }
    button{
        margin: auto;
        width: 5em;
        height: 2em;
        margin-bottom: 3em;
    }
    #form2{
        float: none;
    }
    #form2 a{
        font-size: small;
        width: 70vw;
        margin: auto;
        margin-bottom: 2em;
        display: block;
        
    }
    iframe{
        width: 70vw;
        height: auto;
        margin: 0 0 2em 0;
        display: inline;
    }
    span#socialMedia2{
        display: grid;
        text-align: center;
    }
    span#socialMedia2 img{
        margin-bottom: 2em;
    }
    #thanks h1{
        margin: 0 0 0 0;
        width: 70vw;
        height: auto;
        font-size: medium;
        animation: none;
    }
    footer p{
        font-size: smaller;
        margin: 3em 0 3em 0;
    }
}

@media (max-width: 425px){
    #form2 img{
        display: none;
    }
}